<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <script src="static/js/sudu.js"></script>
    <title>game</title>
</head>
<body>
<div class="main">
    <div>
        <button id="fastFinishBtn" class="button" onclick="getSuccessSurprise()">一键解数独</button>
    </div>

    <div id="rect">

        <script>initView();</script>
    </div>
    <div>
        <button id="finishBtn" class="button" onclick="finish()">完成</button>

    </div>
</div>
</body>
</html>